@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

* {
    display: block;
    text-align: center;
    font-family: 'Lora', serif;
}

company {
    font-family: 'Tangerine', cursive;
    font-size: 6em;
    color: rgb(23, 128, 214);
}

title {
    font-size: 1.5em;
    margin-top: 1em;
}

time {
    margin-top: 1em;
}

days {
    margin-top: 0.5em;
}


food {
    display: block;
}

food > name {
    color: rgb(76, 140, 170);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
}

food > price {
    color: rgb(82, 83, 83);
    margin-top: 0,5em;
}

price::after {
    content: " $";
}

food > calories {
    color: rgb(12, 136, 12);
}

calories::before {
    content: "Calories: ";
}

food > description {
    margin-top: 0,5em;
}

footer > address {
    margin-top: 1em;
}