
info::before {
    content: 'Report: ' attr(id);
}

info {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

info > name {
    font-size: xx-large;
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

info > phone::before{
    content: "Phone: ";
    font-weight: bold;
}

info > email::before{
    content: "Mail: ";
    font-weight: bold;
}

info > address::before{
    content: "Address: ";
    font-weight: bold;
}

info > postalzip::before {
    content: "Postal Zip: ";
    font-weight: bold;
}

info > region::before {
    content: "Region: ";
    font-weight: bold;
}

info > country::before {
    content: "Country: ";
    font-weight: bold;
}
records {
    display: table;
    margin: 10px;
    width: 98%;
}

record {
    display: table-row;
}

record:nth-child(even){
    background-color: aqua;
}

record:nth-child(10n){
    background-color: blue;
}
record *, header *{
    display: table-cell;
    border: 1px solid black;
    padding: 3px;
}

header {
    display: table-header-group;
    text-align: center;
    background-color: rgb(217, 255, 0);
}


