h1{
    text-align: center;
}

legend{
    border: 0.5px solid black;
    background-color: rgb(206, 199, 199);
    border-radius: 5px;
    margin-bottom: 5px;
}
.forma {
    border: 1px solid black
}

.rotate:hover{
    transform: rotate(360deg);
}

input:hover{
    transition: all 1s;
    border-color: red;
}

.Register{
    border-radius: 5px;
}
.Register:hover{
    transform: rotate(360deg);
}

.forma {
    background-color: white;
}
.forma:hover{
    animation: changecolor 1s ease;
}

@keyframes changecolor{
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(228, 169, 223);}
}

#email:hover{
    transition: all 1s;
    width: 600px;https://game.es
}



