body {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  .rss-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
  }
  