@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 650px){
    div.img{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: 100%;
        margin-top: 60px;
    }
}

@media only screen and (min-width: 651px){
    div.img{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: 50% 50%;
        margin-top: 60px;
    }
}
@media only screen and (min-width: 1050px){
    div.img{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: auto auto auto;
        margin-top: 60px;
    }
}

h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline;
    margin: 20px;
    font-family: 'Courgette', cursive;
    color: rgb(0, 0, 0);
    margin: 2rem;
}
li:hover {
  color: rgb(182, 184, 63);
  text-decoration: underline;
}
#img1 {
    transition: ease-out;
}
#img1:hover {
    opacity: .4;
}
#img2:hover {
    opacity: .4;
}
#img3:hover {
    opacity: .4;
}
#img4:hover {
    opacity: .4;
}
#img5:hover {
    opacity: .4;
}
#img6:hover {
    opacity: .4;
}
