h1 {
    text-align: center;
}
table{
    margin: auto;
    width: 70%;
    box-shadow: 5px 8px 8px;
    border-collapse: collapse;
}
table tr th {
    background-color: rgb(1, 1, 59);
    color: white;
    padding: 10px;
}

table tr td{
    text-align: center;
}
tr:nth-child(odd){
    background-color: rgb(235, 227, 227);
}

img {
    padding-left: 20%;
}