h1 {
    background-color: blue;
    color: white;
}


.grid {
    display: grid;
    padding: 10px;
    gap: 10px 10px;
    grid-template-columns: 49% 49%;
}

div.item1 {
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(231, 228, 228);
    width: auto;
    height: 800px;
}

div.item2{
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(231, 228, 228);
    width: auto;
}

p {
    margin: 5px;
}


h2 {
    padding: 3px;
    background-color: blue;
    color: white;
    margin: auto;
}

table.Rules{
    margin-left: auto;
    margin-right: auto;
}

table.Rules table, th, td {
    text-align: center;
    margin: auto;
    padding: 4px;
}

table.Rules thead {
    background-color: blue;
    color: white;
}

table.Rules tbody tr:nth-child(even) {
    background-color: rgb(194, 183, 183);
}

table.Rules tbody tr:nth-child(odd) {
    background-color: rgb(44, 228, 228);
}

article {
    padding: 10px;
}

.option{
    cursor: pointer;
}

.game{
    text-align: center;
    background-color: rgb(252, 223, 185);
    margin: auto;
}

#mazon{
   text-align: center;
   margin: auto;
   border: 1px solid black;
   width: 100%;
}

#mazon tbody tr:nth-child(even){
    background-color: rgb(207, 201, 201);
}

#mazon tbody tr:nth-child(odd){
    background-color: rgb(207, 201, 201);
}

#button{
    background-color: rgb(252, 223, 185);
}