@media only screen and (max-width: 600px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 100%;
        border-radius: 8px; 
    }
}

@media only screen and (min-width: 601px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 49% 49%;
        border-radius: 8px; 
    }
    
}


@media only screen and (min-width: 800px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: auto auto auto auto;
        border-radius: 8px; 
    }
}

h2 {
    margin-top: 1rem;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: black;
}
#pokeContent {
    padding: 10px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(161,164,163,1) 100%);
    border: 10px;
    margin: 8px;
    border-radius: 8px;
    margin-bottom: 1.5em;
}
#pokeImage{
    background-color: rgba(175, 175, 38, 0.623);
    margin: 8px;
    border-radius: 8px; 
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h4{
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}
#pokeNumber::before {
    content: "Code: ";
    font-weight: bold;
}


ul{
    list-style-type: none;
    display: inline;
    margin-left: -2.7rem;
}

ul::before{
    content: "Type: ";
    font-weight: bold;
    margin-left: -1.5em;
    margin-left: 5px;
}


li{
    display: inline;
}

li::after{
    content: ", ";
}

li:last-child::after{
    content: " ";
}

#pokeHeight::before{
    content: "Height: ";
    font-weight: bold;
}

#pokeHeight::after{
    content: "m ";
}

#pokeWeight{
    text-align: right;
    margin-top: -2.5em;
}

#pokeWeight::before{
    content: "Weight: ";
    font-weight: bold;
}

#pokeWeight::after{
    content: "kg";
}

#pokemon{
    background-color: #9c9b9b;
    border-radius: 8px; 
}