@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open Sans"
}

.content {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
img {
    width: 50px;
    margin: 10px;
}

.movies table {
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;

    /* tenir border radius es necessari overflow hidden */
    border-radius: 5px 5px 0 0; 
    overflow: hidden;

    box-shadow: 0 0 20px rgb(0, 0, 0, 0.25);
    margin: 30px;
}



.movies table th {
    min-width: 200px;
    text-align: left;
    height: 40px;
    padding: 10px;
    background-color: aliceblue;
}

.movies table .authors {
    background-color: rgb(138, 190, 236);
}


.movies table td {
    min-width: 200px;
    text-align: left;
    height: 40px;
    padding: 10px;
}





tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f2f2;
}
tbody tr:hover {
    background-color: #eee;
}

table thead tr {
    height: 60px;
    background: #3d8ec4
}
.header {
    background-color: rgb(205, 203, 203);
}



h1 {
    font-size: 1.4em;
   
}