@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open Sans"
}

.content {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
img {
    width: 50px;
    margin: 10px;
}

.books table {
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;

    /* tenir border radius es necessari overflow hidden */
    border-radius: 5px 5px 0 0; 
    overflow: hidden;

    box-shadow: 0 0 20px rgb(0, 0, 0, 0.25);
    margin: 30px;
}



.books table th {
    min-width: 200px;
    text-align: left;
    height: 40px;
    padding: 10px;
    background-color: aliceblue;
}

.books table .authors {
    background-color: rgb(138, 190, 236);
}


.books table td {
    min-width: 200px;
    text-align: left;
    height: 40px;
    padding: 10px;
}
