
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1.titol_movil {
    color: rgb(20, 88, 127);
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

th {
    text-align: left;
    color: rgb(10, 116, 165);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

tr:nth-child(odd) {
    background-color: rgb(178, 231, 255);
}
tr:first-child{
   background-color: rgb(47, 179, 240);
}

tr:nth-child(2) {
    background-color: rgb(178, 231, 255);
}


tr:hover {
    background-color: #00ffc8;
}

div {
    text-align: left;
}
ul.circle {
    list-style-type: circle;
}

