div t1{
    background-color: rgb(38, 151, 151);
}

div t2{
    padding: 5px 5px 5px 0px 5px;
    background-color: greenyellow;
    width: 80%;
}

span.italic{
    font-style: italic;
}
span.bold {
    font-weight: 900;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none
}

a:visited {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline
}