
@media only screen and (min-width: 601px) {
    
    
    table.principal {
        width: 100%;
        border: 10px solid;
        border-width: 1px;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        box-shadow: 10px 10px 10px grey;
    }

    td.principal {
        width: 50%;
        border: solid 1px;
        background-color: rgb(18, 107, 190);
        padding: 10px;
    }

}

@media only screen and (max-width: 600px) {

    table.principal {
        width: 100%;
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
        box-shadow: 10px 10px 10px grey;
        
    }

    td.principal {
        width: 100%;
        border: solid 1px;
        background-color: burlywood;
        padding: 10px;
        display: table;
    }
}

h1 {
    text-align: center;
    color: aqua;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

.taula_abaix, td {
    border: 10px solid;
    border-width: 2px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

div.from {
    float: left;
    padding-right: 5px;
}

div.to, div.enter_temp, .result {
    float: left;
}

select {
    width: 200px;
}

.buto {
    margin-top: 10px;
    background-color: rgb(63, 112, 204);
    color: white;
    padding: 7px;
    width: 90px;
    border-radius: 5px;
    margin-right: 119px;
}

