
a {
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 40%;
}

thead {
    background-color: rgb(86, 121, 238);
}

p {
    text-align: center;
}
