.transition {
    transition: width 3s;
    /*style*/
    width: 300px;
    height: 100px;
    background: violet;
}
  
div.transition:hover {
    width: 600px;
}

.transition3 {
    transition: all 2s;
    /*style*/
    width: 100px;
    height: 100px;
    background: rgb(130, 186, 238);
}
  
div.transition2:hover {
    width: 300px;
    height: 200px;
}