table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px grey;
    margin: 0 auto;
    width: 55%;

}

thead {
    background-color: rgb(109, 86, 238);
    color: white
}

thead tr th{
    height: 50px;
}

tr:nth-child(even){
    background-color: rgb(223, 215, 215);
}

tr:hover{
    background-color: rgb(124, 151, 175);
}

table tr td {
    padding: 10px;
}